@use "../foundation/color";
@use "../foundation/mixin";
@use "../foundation/variable";

.l-sidebar-wrapper{
    height: 2716px;
    position: fixed;
    
}

.l-sidebar{
    display: flex;
    justify-content: flex-end;
    background-color: color.$c-mask;
    //start位置と形状
    top: 0;
    left: 150%;
    width: 375px;
    height: 100%;
    position: fixed;
    z-index: 9999;
    //
    transition: 0.6s;

}

/*is-openがついたら位置を0に*/
.is-open{
    left: 0;
    transition: 0.6s;
}
