@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  padding: 0;
}

button {
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
@use "../foundation/mixin";　　で呼び出しておいて

body {
	min-width : 375px;
	width     : 100%;
	min-height: 100%;
	height    : 100%;
	font-size : 1.4rem;
	overflow-x: hidden;
	position  : relative;
	@include mixin.breakpoint( tablet ) {　　←のように使う
		overflow-x: inherit;
	}
}
*/
@font-face {
  font-family: "M+1m B";
  src: url(../../font/M-1m/mplus-1m-bold.ttf) format("truetype");
}
@font-face {
  font-family: "M+1m R";
  src: url(../../font/M-1m/mplus-1m-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto B";
  src: url(../../font/Roboto/Roboto-Bold.ttf) format("truetype");
}
/*
body {
	font-family: MyFont;  //@font-faceで定義したフォント名を指定
}
*/
:root {
  font-size: 62.5%;
}

html {
  height: 100%;
  font-weight: 500;
  overflow-y: inherit;
}

body {
  font-family: "M+1m B", "M+1m R", "Roboto", sans-serif;
  line-height: 1.3;
  width: 375px;
  /*
  	width     : 100%;
  	min-height: 100%;
  	height    : 100%;
  	font-size : 1.4rem;
  	overflow-x: hidden;
  	position  : relative;
  	@include mixin.breakpoint( tablet ) {
  		overflow-x: inherit;
  	}
  */
}

.l-header {
  width: 100vw;
  height: 217px;
  background-color: #FFF7EF;
  color: #3C2A10;
}

.l-sidebar-wrapper {
  height: 2716px;
  position: fixed;
}

.l-sidebar {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 150%;
  width: 375px;
  height: 100%;
  position: fixed;
  z-index: 9999;
  transition: 0.6s;
}

/*is-openがついたら位置を0に*/
.is-open {
  left: 0;
  transition: 0.6s;
}

.l-footer {
  font-family: "M+1m R";
  color: white;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.c-close-btn {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
}

.c-close-btn::before, .c-close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px; /* 棒の幅（太さ） */
  height: 45.2548339959px; /*calc(32px*1.414) 棒の高さ */
  background: #707070;
}

.c-close-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.c-close-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-text__menu-heading {
  font-size: 2.4rem;
  color: #707070;
}

.c-text__menu-item {
  font-family: "M+1m R";
  font-size: 2rem;
  color: #707070;
}

/* 命名規則基本 
.p-[block]__[Element]--[Modifire]
blockの中にはどのページのどのsectionかわかるようにするため
[ページ名-セクション名]とする。
p-front-menu__li
*/
.p-nav {
  width: 328px;
  background-color: #F2EDE9;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.p-nav__btn {
  display: flex;
  padding-top: 2.5rem;
  margin-left: auto;
  margin-right: 1.7rem;
  width: 32px;
}

.p-header {
  max-width: 375px;
  width: 100%;
  height: 217px;
  background-color: #FFF7EF;
  color: #3C2A10;
}

.p-header__btnwrap {
  display: flex;
  height: 40px;
}

.p-header__menu-btn {
  border: none;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-top: 1.4rem;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2rem;
  color: #707070;
  background-color: #FFF7EF;
}

.p-header__logo {
  display: flex;
  justify-content: center;
}

.p-header__logo-name {
  font-size: 4rem;
  font-family: "Roboto B";
  color: #707070;
  padding-bottom: 3.8rem;
}

.p-header__search {
  position: relative;
  display: flex;
  justify-content: center;
}

.p-header__search::before {
  content: ""; /* 疑似要素に必須 */
  width: 24px; /* アイコンの横幅 */
  height: 24px; /* アイコンの高さ */
  background: url(../../img/パス\ 270.svg) no-repeat center center/auto 100%; /* 背景にアイコン画像を配置 */
  display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute; /* 相対位置に指定 */
  top: 11px; /* アイコンの位置 */
  left: 42px; /* アイコンの位置 */
}

.p-header__search-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #707070;
  width: 230px;
  height: 46px;
  padding: 0;
}

.p-header__search-btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #707070;
  width: 8rem;
  height: 46px;
  margin-left: 12px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #707070;
  background-color: #F2EDE9;
  padding: 0;
}

.p-menu {
  margin-top: 15.5rem;
}

.p-menu__container {
  width: 100%;
  margin: 4.6rem;
}

.p-menu__heading {
  margin-bottom: 4.3rem;
}

.p-menu__item {
  padding-left: 2rem;
}

.p-menu__item-name {
  display: flex;
  justify-content: flex-start;
  margin-top: 23px;
}

.p-mv-container {
  position: relative;
  z-index: -1;
}

.p-mv__text {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translate(0%, -50%);
  font-family: "M+1m B";
  font-size: 3.6rem;
  color: white;
}

.p-board {
  z-index: -1;
  display: grid;
  width: 100%;
  padding: 2rem 2rem 0rem 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 642px;
  gap: 20px;
}

.p-board-card1 {
  overflow-y: scroll;
  z-index: -1;
  gap: 15px;
  grid-column: 1/2;
  grid-row: 1/2;
  min-width: 335px;
  height: auto;
  display: grid;
  width: 305px;
  min-height: 124px;
  grid-template-columns: 1fr;
  grid-auto-rows: 36.4rem minmax(124px, auto) minmax(124px, auto);
}
.p-board-card1__heading1 {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4.1rem;
  font-family: "Roboto B";
  color: white;
  margin: 11px 0 0 15px;
}
.p-board-card1__heading1::after {
  content: "";
  display: block;
  background-color: white;
  width: 33.9px;
  height: 4px;
  margin: 5px 0 0 0;
}
.p-board-card1__desc1 {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 305px;
  height: auto;
  margin: 0 15px;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
.p-board-card1__desc-heading {
  font-family: "M+1m B";
  font-size: 2.2rem;
  color: #3C2A10;
  padding: 7px 0 0 10px;
}
.p-board-card1__desc-text {
  font-family: "M+1m R";
  font-size: 1.6rem;
  color: #3C2A10;
  margin: auto 10px;
  height: auto;
}
.p-board-card1__desc2 {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 305px;
  height: auto;
  margin: 0 15px;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
.p-board-card1__desc-heading {
  font-family: "M+1m B";
  font-size: 2.2rem;
  color: #3C2A10;
  padding: 7px 0 0 10px;
}
.p-board-card1__desc-text {
  font-family: "M+1m R";
  font-size: 1.6rem;
  color: #3C2A10;
  margin: auto 10px;
  height: auto;
}

.p-board-card2 {
  z-index: -1;
  grid-column: 1/2;
  grid-row: 2/3;
  min-width: 335px;
  height: 642px;
  display: grid;
  width: 305px;
  min-height: 124px;
  grid-template-columns: 1fr;
  grid-template-rows: 36.4rem minmax(124px, auto) minmax(124px, auto);
}
.p-board-card2__heading1 {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4.1rem;
  font-family: "Roboto B";
  color: white;
  margin: 11px 0 0 15px;
}
.p-board-card2__heading1::after {
  content: "";
  display: block;
  background-color: white;
  width: 33.9px;
  height: 4px;
  margin: 5px 0 0 0;
}
.p-board-card2__desc1 {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 305px;
  height: 124px;
  margin: 0 15px;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
.p-board-card2__desc1-heading {
  font-family: "M+1m B";
  font-size: 2.2rem;
  color: #3C2A10;
  padding: 7px 0 0 10px;
}
.p-board-card2__desc1-text {
  font-family: "M+1m R";
  font-size: 1.6rem;
  color: #3C2A10;
  margin: auto 10px;
}
.p-board-card2__desc2 {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 305px;
  height: 124px;
  margin: 0 15px;
  background-color: rgba(255, 255, 255, 0.6);
  line-height: 1.6;
}
.p-board-card2__desc2-heading {
  font-family: "M+1m B";
  font-size: 2.2rem;
  color: #3C2A10;
  padding: 7px 0 0 10px;
}
.p-board-card2__desc2-text {
  font-family: "M+1m R";
  font-size: 1.6rem;
  color: #3C2A10;
  margin: auto 10px;
}

.p-map {
  margin-top: 4.9rem;
  position: relative;
  width: 375px;
  height: 691px;
  z-index: -1;
}

.p-map__img {
  position: absolute;
  width: 100%;
  background-color: black;
}

.p-map__mask {
  height: 415px;
  background: black;
  opacity: 0.6;
}

.p-map__mask2 {
  height: 691px;
  background-color: rgba(0, 0, 0, 0.6);
}

.p-map__heading {
  font-family: "M+1m B";
  font-size: 3rem;
  color: white;
  padding: 40px 0 0 42px;
}
.p-map__heading::after {
  content: "";
  display: block;
  width: 75px;
  background-color: white;
  height: 2px;
  margin: 20px 0 0 0;
}

.p-map__text {
  font-family: "M+1m B";
  font-size: 1.4rem;
  color: white;
  position: absolute;
  padding: 20px 40px 0 40px;
  line-height: 33px;
}

.p-footer__info {
  width: 500px;
  position: absolute;
  font-family: "M+1m R";
  color: white;
  top: 0;
  padding: 3.9rem 0 0 0;
  margin: 0 auto;
}

.p-footer__info-text {
  position: absolute;
  font-family: "M+1m R";
  color: white;
  font-size: 20px;
  display: contents;
}

.p-footer__copyright {
  position: absolute;
  font-family: "M+1m R";
  color: white;
  font-size: 14px;
  top: 104px;
  margin: 0 auto;
  width: 100%;
}/*# sourceMappingURL=style.css.map */